{{>header}}
<div class="container">
<div class="container-fluid">
    <h2>Datos actuales</h2>
    <table class="table">
        <thead class="thead-dark">
            <th>Nombre</th>
            <th>Identificador</th>
            <th>Mail</th>
            <th>Teléfono</th>
            <th>Password</th>
            <th>Rol</th>
            </tr>
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.id}}</td>
                <td>{{user.mail}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.pass}}</td>
                <td>{{user.role}}</td>
            </tr>
    </table>

    <br><br>

    <form action="/profile_edit?id={{user.id}}" method="post" autocomplete="on">
        <h2> Editar datos personales</h2>
        <div class="form-group">
            <label> Nombre</label>
            <input class="form-control" name="name" type="text" placeholder="Nombre" />
        </div>
        <div class="form-group">
            <label> Email</label>
            <input class="form-control" name="mail" type="text" placeholder="Email" />
        </div>
        <div class="form-group">
            <label> Teléfono</label>
            <input class="form-control" name="phone" type="number" placeholder="Telefono" />
        </div>
        <div class="form-group">
            <label> Password</label>
            <input class="form-control" name="pass" type="password" placeholder="password" />
        </div>
		{{#if_eq curr_user.role "coordinador"}}
		<div class="form-group">
            <label> Rol</label>
			<select name="role" class="custom-select" id="inputGroupSelect01">
				<option selected value="aspirante">Aspirante</option>
				<option value="docente">Docente</option>
				<option value="coordinador">Coordinador</option>
			</select>
        </div>		
		{{/if_eq}}
        <div class="form-group">
            <button class="btn btn-primary">Actualizar Datos</button>
        </div>
    </form>

    <a class="btn btn-secondary" href="/profile?id={{user.id}}">Atrás</a>
</div>
</div>

{{>footer}}
